@use '../../vendors/variable.scss' as *;

.cardProject {
	height: 100%;
	position: relative;
	// cursor: pointer;

	.projetImage {
		border-radius: 10px;
		height: 100%;
		width: 100%;
	}

	.sombre {
		filter: brightness(0.5); /* Applique un filtre sombre sur l'image */
	}

	.projectInfo {
		position: absolute;
		bottom: 0;
		left: 0;

		h2 {
			color: $vertClaire;
			font-family: 'Bebas Neue', sans-serif;
			font-weight: 100;
			font-size: 25px !important;
			margin: 0 !important;
		}

		.description {
			background-color: $vertNoire;
			border-radius: 0 0 10px 10px;

			.descriptionContent {
				width: 85%;
			}

			p {
				// position: absolute;
				padding: 5px;
				color: $vertClaire;
				font-size: 11px !important;
				font-weight: 100;
				font-family: 'Karla';
				font-weight: 300;
				// bottom: 0;
			}

			.iconButton {
				position: absolute;
				bottom: 4%;
				right: 2%;
				background: none;
				border: none;
				color: white;
				cursor: pointer;
				width: 30px;
				height: 30px;
				border-radius: 7px;
				z-index: 10;
				border: 2px solid $vertClaire;
			}

			.icon {
				font-size: 20px;
				color: $vertClaire;
			}
		}
	}
}

.extraInfo {
	top: calc(100% + 5px); /* Ajoute un petit espace sous la carte */
	transform: translateX(-50%);
	width: 100%; /* Ajuste la largeur pour rester aligné */
	background: $vertNoire;
	color: white;
	padding: 10px;
	border-radius: 10px;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
	z-index: 10; /* Assure qu'elle est au-dessus */

	.info {
		color: $vertClaire;
		font-size: 10px;
		font-weight: 100;
		font-family: 'Karla';
		font-weight: 300;
		padding-left: 5px;
	}
}
