@use "../../vendors/variable.scss" as *;

.hightPage {
    height: 40%;
    background-color: $vert;

    .custom-icon {
        width: 20px;
        color: $vertClaire !important;
    }
    .git {
        left: 0;
        bottom: -15px;
    }

    .linkedin {
        left: 25px;
        bottom: -15px;
    }

    h1 {
        font-family: "Bebas Neue", sans-serif;
        font-size: 35px;
        font-weight: 100;

        .elia {
            position: absolute;
            left: -18px;
            top: 15px;
            color: $vertNoire;
        }
        .dev {
            color: $vertClaire;
        }
    }

    .photo {
        padding-top: 30px;
        .cadre {
            width: 93px;
            height: 123px;
            border: 3px solid $vertFonce;
            border-radius: 5px;
        }
    }
}

.what {
    height: 300px;
    background-color: $vertFonce;
    padding-bottom: 20px;

    h2 {
        font-family: "Bebas Neue", sans-serif;
        color: $vertClaire;
        font-weight: 100;
        padding-top: 10px;
        font-size: 30px;
    }
}

.projects {
    height: 500px;
    background-color: $vert;
    padding-bottom: 25%;
    h2 {
        font-family: "Bebas Neue", sans-serif;
        color: $vertFonce;
        font-weight: 100;
        font-size: 30px;
        padding-top: 10px;
        margin-bottom: 20px;
    }
}

.about {
    background-color: $vertFonce;

    h2 {
        font-family: "Bebas Neue", sans-serif;
        color: $vertClaire;
        font-size: 30px;
        font-weight: 100;
        margin-bottom: 10px;
    }

    .js {
        width: 30px;
        color: $vertClaire !important;
    }

    .next {
        background-color: $vertClaire !important;
    }
}

.contact {
    height: 500px;
    background-color: $vertFonce;
    padding-bottom: 20px;

    h2 {
        font-family: "Bebas Neue", sans-serif;
        color: $vertClaire;
        font-weight: 100;
        padding-top: 10px;
        font-size: 30px;
    }
}
