@use '../../vendors/variable.scss' as *;

.container {
	margin-top: 25px;
	.containerHeader {
		// height: 20px;
		z-index: 100;
		position: fixed;
		.header {
			height: 20px;
			width: 100%;
			background-color: $vertClaire;
			border-radius: 10px;
			padding: 10px 10px 10px 10px;
			button {
				font-family: 'Karla', sans-serif;
				border: none;
				font-weight: 500;
				background-color: $vertClaire;
				color: $vertNoire;
			}
		}
	}
}
