@use '../../vendors/variable.scss' as *;

.card {
	width: 45%;
	height: 100px;
	background-color: $vertNoire;

	.icon {
		color: $vertClaire;
		top: 5px;
		left: 5px;
	}

	.titleDescription {
		top: 0;
		right: 10%;
		padding-top: 10px;
		height: 50%;
	}

	.descritpion {
		position: absolute;
		bottom: 0;
		right: 0;
		color: $vertClaire;
		height: 50%;
		font-size: 10px;
	}

	h3 {
		color: $vertClaire;
		font-size: 15px;
		font: 300;
	}

	p {
		color: $vertClaire;
		padding: 5px;
		font-weight: 100;
		font-size: 12px;
	}
}
